body {
	font-family: Ariel, Futura, Verdana;
	color: #000000;
	background: white url(../images/background.png) repeat-y top left;
	margin: 10px;
	padding-left: 10em;
}

/* Paragraph break height */
p {
	line-height: 1.4em;
	padding-left: 0em;
}


/* Heading fonts and formats */
h1{
	font-family: Skia, Futura, Verdana, Ariel;
	color: #000000;
	font-size: 2em;
	margin: 0;
	padding: 0.1em;
	padding-left: 0em;
	text-align: left;
	font-weight: plain;
}

h2 {
	font-family: Skia, Futura, Verdana, Ariel;
	color: #000000;
	font-size: 1.5em;
	margin: 0;
	padding: 0.1em;
	padding-left: 0em;
	text-align: left;
	font-weight: plain;
}

h3 {
	font-family: Skia, Futura, Verdana, Ariel;
	color: #000000;
	font-size: 1em;
	margin: 0;
	padding: 0.1em;
	padding-left: 0em;
	text-align: left;
	font-weight: plain;
}

/* Margins and alignment for images in the content division */					
#content img {
			padding: 1px;
			float: right;
			margin: 0 0 1em 1em;
		}
a {
	text-decoration: none;
	
}

/* Colors for linked text, before and after being clicked */			
a:link {
	color: #1f2641;
}

a:visited {
	color: #10298d ;
}

/* Page Layout */
#header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}

#content {
	margin-top: 10px; 
}

/* Layout for divisions containing images and their captions */
#picture {
	padding: 1px;
	float: right;
	text-align: center;
	font-size: 8pt;
	margin: 0 0 1em 1em;
}

/* Layout for alignment of footer */
#footer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


#footer img {
	padding: 10px;
}

/* Format of Assignment Rubric tables */
table {
	width: 100%;
	border:3px solid black;
	border-collapse: collapse;
}

thead th:nth-child(1) {
	width: 80%;
}
  
thead th:nth-child(2) {
	width: 20%;
	align-items: center;
}

tr:hover {
	background-color: #ddd;
}

td {
	border: 1px solid #000000;
	text-align: center;
}

.submit {
	background-color: #0674B5; 
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 0.5em;
	position: relative;
	float: right;
	border-radius: 4px  
  }

.submit:hover {
background-color: #0674B5;
}

button:focus { 
background: lightblue;
color: black;
outline: none;
}

a:focus { 
	background: lightblue;
	outline: none;
}

a:visited {
	text-decoration-color: #760525;
	text-decoration-thickness: .125em;
	text-underline-offset: 1.5px;
	text-decoration:underline;
}

  